p.test{
	color: green;
	font-weight: bold;
	font-size: 20px;
}

.TextShadow{
	text-shadow: 2px 2px 2px grey;
}

.PictureShadow{
	box-shadow: 10px 10px 5px grey;
}

section{
	background-color: "green"
}

.bigheader{
	font-size: 80px;
}
.middleheader{
	font-size: 30px;
}
.smallheader{
	font-size: 10px;
}
