.TextShadow{
	text-shadow: 2px 2px 2px grey;
}

.PictureShadow{
	box-shadow: 10px 10px 5px grey;
}

.navBarColor{
	background-color: rgb(13,191,149);
}

section{
	background-color: "green"
}
p.change{
	font-size: 18px;
}

.headerText{
	color: rgb(13,191,149);
	font-weight: bold;
}

.navbar-default .navbar-brand {
	color:#fffaf0;
	background-color: rgb(12,191,149); 
	font-size: 30px;
	font-weight: bold;
}